
//
// 
//

@image-folder:           "../images";
@image-folder--patterns: "@{image-folder}/patterns";
@image-folder--projects: "@{image-folder}/projects";

@background-color:        white;
@border-color:            darken(@background-color,10%);
@border-color-dark:       darken(@border-color,20%);
@shadow-color:            darken(@background-color,8%);

//
// Icons
//

@internal-image-folder:                      "images/uikit";
@internal-image-folder:                      "@{node_modules}/uikit/src/images";

@internal-form-select-image:                 "@{internal-image-folder}/backgrounds/form-select.svg";
@internal-form-radio-image:                  "@{internal-image-folder}/backgrounds/form-radio.svg";
@internal-form-checkbox-image:               "@{internal-image-folder}/backgrounds/form-checkbox.svg";
@internal-form-checkbox-indeterminate-image: "@{internal-image-folder}/backgrounds/form-checkbox-indeterminate.svg";
@internal-divider-icon-image:                "@{internal-image-folder}/backgrounds/divider-icon.svg";
@internal-list-bullet-image:                 "@{internal-image-folder}/backgrounds/list-bullet.svg";
@internal-nav-parent-close-image:            "@{internal-image-folder}/backgrounds/nav-parent-close.svg";
@internal-nav-parent-open-image:             "@{internal-image-folder}/backgrounds/nav-parent-open.svg";
@internal-accordion-open-image:              "@{internal-image-folder}/backgrounds/accordion-open.svg";
@internal-accordion-close-image:             "@{internal-image-folder}/backgrounds/accordion-close.svg";

//
// Typography
//

@global-font-family:                            Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@global-font-size:                              15px;
@global-line-height:                            1.5;      // 24px

@global-xxlarge-font-size:                      2.625rem; // 42px
@global-xlarge-font-size:                       2rem;     // 32px
@global-large-font-size:                        1.5rem;   // 24px
@global-medium-font-size:                       1.25rem;  // 20px
@global-small-font-size:                        0.875rem; // 14px

//
// Colors
//

@global-color:                                  #666;
@global-emphasis-color:                         #333;
@global-muted-color:                            #999;

@global-link-color:                             #1e87f0;
@global-link-hover-color:                       #0f6ecd;

@global-inverse-color:                          #fff;

//
// Backgrounds
//

@global-background:                             #fff;

@global-muted-background:                       #f8f8f8;
@global-primary-background:                     #1e87f0;
@global-secondary-background:                   #222;

@global-success-background:                     #32d296;
@global-warning-background:                     #faa05a;
@global-danger-background:                      #f0506e;

//
// Borders
//

@global-border-width:                           1px;
@global-border:                                 #e5e5e5;
